.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  /* border: none;
    border-radius: 10px;
    /* padding: 2px 5px; */
  /* background-color: #3bb077; */
  /* color: white; */
  /* cursor: pointer; */
  /* margin-right: 20px; */
  /* margin: 20px; */
  /* margin-top: 20px;  */
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
  background-color: blanchedalmond;
  /* margin: 10px 10px 10px 10px;
   */
  /* margin-top: 20px;margin-bottom: 20px;margin-left: 10px;   */
}

.userListDelete {
  color: red;
  cursor: pointer;
}
.userListDelete:hover {
transform: scale(1.5);
}
.sb {
  display: flex;
}
#change {
  background-color:#FFCC00; /* Green */
  border: none;
  color: rgb(13, 13, 13);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

}
#change:hover{
  transform: scale(1.1);
  cursor: pointer;
  background: black;
  color: white;
}

.popup-content {
  margin: auto;
  background: #FCE2DB;
  width: 20%;
  padding: 5px;
  border-radius: 10px;
 
}
.popup-arrow {
  color:#FCE2DB;
}