.newProduct {
  margin-left: 50px;
  flex: 4;
}

.addProductForm {
  margin-top: 10px;
  /* width: 100px; */
}

.addProductItem {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
}

.addProductItem > select {
  padding: 10px;
}

.addProductButton {
  margin-top: 80px;
  margin-left: 300px;
  width: 200px;
  
}
.div2{
  margin-left: 20px;
}
.divdiv{
  display: flex;
  
}