#search{
    /* width: 20%; */
max-width: 500px;
/* margin-left: 100px; */
}

#grid{
    /* height: 200px; */
    max-height: 600px;
}
.create-btn{
    margin-left: 300px;
}
#sbb{
    margin-left: 200px;
}